/* App.css */
.title:hover{
    cursor: pointer;
}

form {
display: flex;
flex-direction: column;
align-items: center;
margin: 50px;
}

input {
padding: 10px;
margin-bottom: 10px;
width: 300px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
}

button {
padding: 10px 20px;
background-color: #007bff;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}

button:hover {
background-color: #0056b3;
}

.container {
display: flex;
flex-direction: column;
margin-top: 50px;
text-align: center;
}

h2 {
text-align: start;
font-size: 24px;
margin-bottom: 20px;
}

ul {
list-style: none;
padding: 0;
}

li {
text-align: start;
margin-left: 10px;
margin-bottom: 15px;
}

button a {
text-decoration: none;
color: inherit;
}

img {
width: 200px;
height: auto;
border-radius: 5px;
margin-bottom: 15px;
}

.Enlaces {
margin: 10%;
}

.recent-item:hover {
cursor: pointer;
}

iframe {
background-color: transparent;
height: 100%;
min-height: 64vh;
border-radius: 10px;
}

/* Agrega estilos para el modal */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

